/* Variables */
:root {
    --editor-bg: #333;
    --editor-border: #b8b8b8;
}

/* Reset Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New'
}

html, body {
    height: 100%;
    width: 100%;
}

.testImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testImg img {
    width: 50%;
    margin: 1.5rem;
}

.prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.challenge {
    padding-top: 3rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editor__wrapper {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background: var(--editor-bg);
    padding: 2em;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.editor__body {
    flex: 1;
}

.editor__footer {
    display: flex;
    width: 50%;
}

.editor__footer--left {
    display: flex;
    flex-direction: column;
}

.editor__footer--right {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}

.editor__btn {
    border: 0;
    padding: .5em;
    background-color: #fff;
    border: 2px solid #333;
    margin-top: 1em;
    width: 100px;
    cursor: pointer;
}

.editor__console {
    background-color: #ccc;
    width: 100%;
    height: 130px;
    margin-top: .9em;
    border: 1px solid var(--editor-border);
    overflow: auto;
}

.editor__code {
    /* background-color: #333;
    color: #ccc; */
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--editor-border);
}

/* .ace-ambiance .ace_gutter-active-line {
    background-color: white;
} */

.editor__console-logs {
    padding: 10px;
    list-style: none;
}

.editor__console-logs li pre {
    font-size: 0.9em;
}

/* arg types styling */
/* .log--default {
    color: #000;
}

.log--string {
    color: #48BF0A;
}

.log--number {
    color: #48BF0A;
}

.log--boolean {
    color: blue;
}

.log--undefined {
    color: grey;
}

.log--error {
    color: red;
}

.log--object {
    color: darkcyan;
}

.log--array {
    color: darkblue;
}

.log--function {
    color: yellow;
} */