.container {
  color: white;
  min-width: 90%;
  height: 90vh;
  /* position: relative; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-radius: 3rem;
  border: 0.15rem solid rgba(255, 255, 255, 0.5);
  box-shadow: 12px 12px 20px 2px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.3rem) saturate(40%);
}

/* .playerList {
  border-radius: 3rem 0 0 3rem;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 20%;
  height: 100vh;
} */

.players {
  flex-wrap: wrap;
}

.player {
  display: flex;
  align-items: center;
}

/* .playerAvatar {
  height: 2rem;
  margin-right: 0.5rem;
} */

.playerOuterAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  height: 3rem;
  width: 3rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: white;
}

.playerInnerAvatar {
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerName {
  background-color: #c8c8c8;
  font-family: StarJedi;
  border-radius: 0.25rem;
  width: 100%;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
}

.playerNameSelected {
  background-color: #00e7e7;
  font-family: StarJedi;
  border-radius: 0.25rem;
  width: 100%;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
}

/* .playGame {
  border-style: none;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: Verdana;
  text-transform: uppercase;
  display: flex;
  align-items: center;
} */

.playGame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00e7e7;
  color: black;
  /* font-weight: bold; */
  font-family: Verdana;
  margin-top: 1rem;
  border-style: none;
}

.profQuotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 30vw;
  color: #00e7e7;
  font-family: Verdana;
  text-align: center;
}

.profff {
  display: inline-block;
  height: 10vh;
  width: 30vw;
  color: yellow;
  font-family: 'StarJedi';
  text-align: center;
}

.profQuotes span {
  color: white;
  font-family: Verdana;
}

#rounds {
  margin-top: 1rem;
}

/* .game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 0.15rem solid rgba(255, 255, 255, 0.5);
  border-right: 0.15rem solid rgba(255, 255, 255, 0.5);
  width: 60%;
  height: 100vh;
} */

.chat {
  margin: 0;
  border-radius: 0 3rem 3rem 0;
  /* border: solid 1px red; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
  /* border: .15rem solid rgba(255, 255, 255, .5); */
  /* width: 20%; */
  max-width: 100%;
  height: fit-content;
  /* margin: 0.2rem; */
}
.chat > * {
  /* max-width: fit-content; */
  /* align-self: center; */
  margin-top: 3rem;
}

.chatInfo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.messageContainer {
  display: flex;
  flex-flow: column-reverse nowrap;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid gray;
  border-radius: 1rem;
  /* justify-content: flex-start; */
  align-items: left;
  height: 350px;
  width: 100%;
  min-height: min-content;
  flex: 1 1 90%;
  overflow: auto;
  margin: 0 !important;
  padding: 0 !important;
}
.messageContainer::-webkit-scrollbar {
  display: none;
}

.messageCard,
.messageCard > * {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.chatMessageContent {
  overflow-wrap: break-word;
}

.chat h1,
h6,
.card,
input,
button {
  width: 100%;
}

.clipboardToast {
  border-radius: 2rem;
  background-color: #222;
  color: white;
  width: fit-content;
  height: fit-content;
}
.chip {
  background-color: rgba(68, 68, 68, 0.425);
  color: white;
  border: solid 1px black;
  cursor: pointer;
  /* box-shadow: 3px 3px #222, -1em 0 0.4em #222; */
}

.prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge {
  border: 0.15rem solid rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  padding: 2rem;
  margin: 1.5rem;
}

/* chat button text */

.roomCodeButton:hover .roomCodeText {
  display: none;
}

.roomCodeButton:hover .inviteLink:before {
  content: 'Click to copy invite link!';
}
