#game {
  margin-top: 200px;
  width: 650px;
  height: 500px;
  border: 1px solid black;
  /* background: url('/public/backgrounds/star-wars-backgrounds-25.jpg'); */
}

#character {
  width: 50px;
  height: 100px;
  position: relative;
  top: 330px;
  left: 20px;
}

#block {
  width: 50px;
  height: 100px;
  position: relative;
  top: 230px;
  left: 480px;
  animation: block 1s infinite linear;
}

#counter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 625px;
  color: white;
}

/* div.bb8 {
  content: url('/public/minigame_characters/BB8.png');
}

div.stormtrooperOne {
  content: url('/public/minigame_characters/8-bit-stormtroopers_0002_Layer-0.png');
}

div.stormtrooperTwo {
  content: url('/public/minigame_characters/8-bit-stormtroopers_0001_Layer-1.png');
}

div.stormtrooperThree {
  content: url('/public/minigame_characters/8-bit-stormtroopers_0000_Layer-2.png');
} */

.animate {
  animation: jump 500ms;
}

h1 {
  color: white;
}

@keyframes block {
  0% {
    left: 650px;
  }
  100% {
    left: -20px;
  }
}

@keyframes jump {
  0% {
    top: 330px;
  }
  30% {
    top: 220px;
  }
  70% {
    top: 220px;
  }
  100% {
    top: 330px;
  }
}
