@font-face {
  font-family: StarJedi;
  src: url(/Starjedi.ttf);
}

@font-face {
  font-family: AurekBesh;
  src: url(/AurekBeshNarrow.ttf);
}

body {
  margin: 0;
  background-image:
  url('/backgrounds/millenium.jpeg'),
  linear-gradient(rgba(5, 8, 46, 0.712), rgba(53, 0, 0, 0.801));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  color: white;
  margin: 1em;
  display: inline-block;
}
